@keyframes orbitLogoSpin {
  100% {
    transform: rotate(360deg);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Söhne";
  src: url("/fonts/sohne-subset-0.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("/fonts/newsreader-subset-0.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --radius: 0.625rem;
  --background: #f3f4f6;
  --foreground: #1f2937;
  --card: #ffffff;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  --primary: #1f2937;
  --primary-foreground: #ffffff;
  --secondary: #f9fafb;
  --secondary-foreground: #1f2937;
  --muted: #f9fafb;
  --muted-foreground: #6b7280;
  --accent: #f9fafb;
  --accent-foreground: #1f2937;
  --destructive: #ef4444;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #9ca3af;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --card: #1f2937;
  --card-foreground: #f9fafb;
  --popover: #1f2937;
  --popover-foreground: #f9fafb;
  --primary: #f9fafb;
  --primary-foreground: #1f2937;
  --secondary: #374151;
  --secondary-foreground: #f9fafb;
  --muted: #374151;
  --muted-foreground: #9ca3af;
  --accent: #374151;
  --accent-foreground: #f9fafb;
  --destructive: #f87171;
  --border: #374151;
  --input: #4b5563;
  --ring: #6b7280;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Söhne", sans-serif;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--initial-angle) * 1deg))
      translateY(calc(var(--radius) * -1px))
      rotate(calc(var(--initial-angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--initial-angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * -1px))
      rotate(calc(var(--initial-angle) * -1deg - 360deg));
  }
}

.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
  animation-fill-mode: both;
}
